*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

section{
    width: 100%;
    height: 100vh;
    background-color: Black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopWatch{
    width: 40%;
    height: 90%;
    border: 5px solid #35066f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeScreen{
    width: 70%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #3D0089;
    border-radius: 10px;
    margin-bottom: 10px;
}

.timeScreen h1{
    font-size: 3.4vw;
}

.timeScreen span{
    font-size: 2.7vw;
}

.controlButtons{
    width: 70%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 10px;
}

.start{
    width: 40%;
    height:50%;
    border-radius: 10px;
    border: 5px solid #3D0089;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 700;
}

.start:hover{
    box-shadow: 0 15px 25px rgba(92, 2, 156, 0.4);
}

.lapbtn{
    width: 40%;
    height:50%;
    border-radius: 10px;
    border: 5px solid #3D0089;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 700;
}

.lapbtn:hover{
    box-shadow: 0 15px 25px rgba(92, 2, 156, 0.4);
}

.lapList{
    list-style: none;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    padding-top: 10px;
    background-color: #3D0089;
    overflow: auto;
    position: relative;
}

.lapList::-webkit-scrollbar{
    display: none;
}

.lap{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 20%;
    margin: 0px 0px 10px 30px;
}

.lapCount{
    margin-left: 20px;
}

.lapTime h1{
    font-size: 2vw;
}

.lapTime span{
    font-size: 1.4vw;
}

.clearAll{
    position: absolute;
    top: 80%;
    width: 15%;
    height: 6%;
    border-radius: 15px;
    background-color: white;
    color: #35066f;
    font-size: 2vw;
    font-weight: 600;
}
